{# Answer macro — an answer is anything that responds to a question, request, action, etc. #}
{%- macro answer(params) -%}
<div
  class="answer{% if params.classes %} {{ params.classes }}{% endif %}"
  {%- if params.label %} aria-label="{{ params.label }}"{% endif %}
>
  {%- if params.html -%}{{ params.html | safe }}
  {%- elif params.text -%}{{ params.text }}
  {%- elif caller -%}{{ caller() }}
  {%- endif -%}
</div>
{%- endmacro -%}
